

.righth1{
position: fixed;
top: 170px;
left: 354px;
width: 210px;
height: 83px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border: 1px solid #EAECF0;
border-radius: 12px;
opacity: 1;
}

.righth2{
position: fixed;
top: 170px;
left: 584px;
width: 210px;
height: 83px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border: 1px solid #EAECF0;
border-radius: 12px;
opacity: 1;
}

.righth3{
position: fixed;
top: 170px;
left: 814px;
width: 220px;
height: 83px;
background: #35B670 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border: 1px solid #EAECF0;
border-radius: 12px;
opacity: 1;
}

.righth4{
position: fixed;
top: 170px;
left: 1054px;
width: 220px;
height: 83px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border: 1px solid #EAECF0;
border-radius: 12px;
opacity: 1;

}

.rh1{
position: fixed;
top: 183px;
left: 376px;
width: 177px;
height: 17px;
text-align: left;
font: normal normal bold 14px/33px Inter;
letter-spacing: 0px;
color: #182A58;
opacity: 1;
}





.title{
position: fixed;
top: 19px;
left: 75px;
width: 229px;
height: 34px;
text-align: left;
font: normal normal bold 28px/34px Inter;
letter-spacing: 0px;
color: #35B670;
text-transform: uppercase;
opacity: 1;
}
.head{
position: fixed;
top: 106px;
left: 359px;
width: 246px;
height: 36px;
text-align: left;
font: normal normal bold 30px/33px Inter;
letter-spacing: 0px;
color: #182A58;
opacity: 1;
}

.search{
position: fixed;
top: 77px;
left: 8px;
width: 295px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}
.search2{
position: fixed;
top: 305px;
left: 384px;
width: 295px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}

.dd{
position:fixed;
top: 137px;
left: 8px;
width: 295px;
height: 40px;
background: #35B67014 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;
}
#dd2{
top: 183px;
}
#dd3{
top: 231px;
}
#dd4{
top: 279px;
}
#dd5{
top: 327px;
}
#dd6{
top: 375px;
}
#dd7{
top: 423px;
}
#dd8{
top: 471px;
}


.ep{
position: fixed;
top: 19px;
left: 1365px;
width: 169px;
height: 32px;
opacity: 1;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.bt1{
position: fixed;
top: 104px;
left: 1280px;
width: 182px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #10182829;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}

.bt7{
position: fixed;
top: 15px;
left: 955px;
width: 139px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #10182829;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}

.bt8{
position: fixed;
top: 19px;
left: 1365px;
width: 169px;
height: 32px;
opacity: 1;
}
.bt10{
position: fixed;
top: 104px;
left: 1500px;
width: 101px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #10182829;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}

.bt2{
position: fixed;
top: 23px;
left: 1125px;
width: 24px;
height: 24px;
opacity: 1;
}
#bt3{
left: 1173px;
}

#bt4{
left: 1221px;
}

#bt5{
left: 1269px;
}
#bt6{
left: 1317px;
}




.date{
position: fixed;
top: 307px;
left: 814px;
width: 150px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 2px #10182829;
border: 1px solid #D0D5DD;
border-radius: 8px;
opacity: 1;
}


.example-container {
  overflow: auto;
  position: fixed;
top: 448px;
left: 400px;
width: 70%;
height: 600px;
}

table {
position: flex;
  overflow: auto;

top: 448px;
left: 300px;
width: 100%;
height: 600px;
opacity: 1;
}
.pg{
  position: fixed;
top: 1100px;
left: 170px;
width: 1114px;
height: 36px;
opacity: 1;
}
.tcont{
  position: fixed;
top: 283px;
left: 359px;
width: 1350px;
height: 877px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 3px #00000029;
border: 1px solid #EAECF0;
border-radius: 24px;
opacity: 1;
}
