
<p class="title">ALFRED-ADMIN</p>
<p class="head">Pending Request</p>


        <div class="righth1">
            <div class="rh1">

            </div>

        </div>


            <div class="righth2">
            <div class="rh1">

            </div>
        </div>

        <div class="righth3">
            <div class="rh1">
                    <p>New claims / Yet to assign</p>
            </div>

        </div>

        <div class="righth4">                    <p>New claims / Yet to assign</p>

            <div class="rh1">

            </div>

        </div>





          <input class="search" placeholder="search">




<button class="bt1" mat-button [matMenuTriggerFor]="menu">All Department<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-form-field class="dd" id="dd1" appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">Option 1</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<button class="dd" id="dd2" mat-button [matMenuTriggerFor]="menu">Users info <mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd3" mat-button [matMenuTriggerFor]="menu">ADMIN<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd4" mat-button [matMenuTriggerFor]="menu"> Department<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd5" mat-button [matMenuTriggerFor]="menu"> Healyh<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd6" mat-button [matMenuTriggerFor]="menu">Report<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd7" mat-button [matMenuTriggerFor]="menu">Claim<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="dd" id="dd8" mat-button [matMenuTriggerFor]="menu"> Setting<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>












<button class="bt10" mat-button [matMenuTriggerFor]="menu">Retail<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>




<button class="bt7" mat-button [matMenuTriggerFor]="menu">Category<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button class="bt8" mat-button [matMenuTriggerFor]="menu">User name<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button class="bt2" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
  <mat-icon>home</mat-icon>
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <mat-icon>notification_important</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<button class="bt2" id="bt3" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
  <mat-icon>filter_drama</mat-icon>
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <mat-icon>notification_important</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<button class="bt2" id="bt4" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
  <mat-icon>mms</mat-icon>
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <mat-icon>notification_important</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<button class="bt2" id="bt5" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
  <mat-icon>settings</mat-icon>
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<button class="bt2" id="bt6" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
  <mat-icon>notification_important</mat-icon>
</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>
    <mat-icon>notification_important</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>




<div class="mat-elevation-z8">

  <div class="tcont">                   <input class="search2" placeholder="search">
  </div>

<section class="example-container mat-elevation-z8" tabindex="0">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">    <button mat-button [matMenuTriggerFor]="menu">User name<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
 </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</section>


<mat-paginator class="pg" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>

